@import '../../commonStyle/Style.scss';
.headerfullContainer {
    width: 100%;
    background-color: #ffffff8c;
    position: fixed;
    z-index: 10;
    transition: .5s all ease-in-out;
    .headerContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
        .loglogo {
            width: 155px;
            height: 45px;
        }
        .navigationBar {
            display: flex;
            .navItem {
                margin: 0 20px;
                a {
                    color: #000;
                    text-decoration: none;
                    font-size: 17px;
                }
                a:hover{
                    color: $color2;
                }
                .bgWhite {
                    color: antiquewhite;
                }
            }
        }
    }
}
.navBgclr {
    background-color: #caf4ff;
    transition: .5s all ease-in-out;

}