@import "../../commonStyle/Style.scss";
.footerContainer {
    background-color: $color1;
    padding-top: 5rem;
    padding-bottom: 3rem;
    .footerbox {
        .footerLogo {
            width: 200px;
        }
        .footerIcon {
            display: flex;
            .icon1 a .facebookIcon {
                font-size: 30px;
                color: #000;
                margin: 15px 10px;
            }
            .icon2 a .facebookIcon {
                font-size: 30px;
                color: #000;
                margin: 15px 10px;
            }
        }
    }
    .footerContent {
        h5 {
            font-family: "Montserrat-Bold";
            color: $color4;
            margin-bottom: 10px;
            font-size: 22px;
            margin-top: 1rem;
        }
        p {
            margin: 0;
            a {
                color: $color4;
                font-size: 13px;
            }
        }

        .paymentbox {
            display: flex;
        }
    }
}
