@import "../../commonStyle/Style.scss";

.bloggCard {
    margin: 1rem 0;
    text-align: center;
    .blogContent {
        padding: 15px 10px;
        border: 4px solid $color1;
        border-top: 0;
        h3 {
            font-size: 25px;
            color: $color2;
            font-family: Montserrat-Bold;
            margin-bottom: 0;
        }
        h5 {
            font-size: 22px;
            color: $color2;
            font-family: Montserrat-Regular;
        }
        p {
            color: $color4;
            font-family: Montserrat-Regular;
            font-size: 15px;
        }
    }
}
